body {
    margin:0;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 2px solid rgb(200,200,200);
    padding: 10px 30px 10px 10px;
    flex-direction: row;
}

.header-nav > .nav {
    display: flex;
}

.header-nav > .nav > a {
    background-color: white;
    color: black;
    width: 110px;
    height:23px;
    padding: 3px 15px;
    border: 1px solid black;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.3s background-color ease-out;
}

.header-nav > .nav > a:hover {
    background-color: rgb(180,180,180);
    text-decoration: underline;
    color: black;
    font-weight: bold;
}

.header-nav > .nav > a:first-child {
    border-radius: 4px 0 0 4px;
}

.header-nav > .nav > a:last-child {
    border-radius: 0 4px 4px 0;
}

.logo {
    width: auto;
    height: 40px;
    margin-right: auto;
}

.header-section {
    text-align: center;
    color:rgb(50,50,50);
    font-size:22px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    flex-direction: column;
}

#caption {
    color:rgb(180,180,180);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.main-content {
    padding: 24px;
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.article1 {
    flex-basis: 70%;
    flex-grow: 0;
    margin-left: 50px;
}

.img-slideshow {
    border-radius: 8px;
    width: 800px;
    height: 533px;
}

#quote1 {
    color:rgb(180,180,180);
    text-align: center;
    font-style: italic;
    font-size: 18px;
    margin: auto;
    margin-bottom:60px;
}

.section {
    display: none;
}

.form {
    flex-basis: 30%;
    flex-grow: 0;
    background-color: rgb(230,230,230);
    margin-right: 50px;
    border-radius: 8px;
    padding-bottom: 30px;
    height: fit-content;
}

.form-output {
    margin: 40px 30px 20px 30px;
    font-size: 16px;
    color:rgb(50,50,50);
    font-weight: bold;
}

#titleSubtitle {
    margin: 40px 30px 20px 30px;
    font-size: 24px;
}

#caption1 {
    margin:0px 30px 50px 30px;
    font-size: 14px;
    color:rgb(150,150,150);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

label {
    margin:0px 30px 10px 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 16px;
}

input {
    margin: 5px 30px 20px 30px;
    border: 2px solid rgb(180,180,180);
    border-radius: 4px;
    font-size: 14px;
    width: 278px;
    height: 50px;
    box-sizing: border-box;
    color:rgb(180,180,180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

textarea {
    margin: 5px 30px 20px 30px;
    border: 2px solid rgb(180,180,180);
    border-radius: 4px;
    font-size: 14px;
    width: 278px;
    height: 100px;
    box-sizing: border-box;
    color:rgb(180,180,180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
}

#submit {
    background-color: rgb(50,50,50);
    color:white;
    border: 2px solid rgb(50,50,50);
    border-radius: 4px;
    margin: 5px 30px 20px 30px;
    font-size: 16px;
    width: 278px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.1s background-color ease-in;
    cursor: pointer;   
}

#submit:hover {
    background-color: rgb(180,180,180);
    color:rgb(50,50,50);
    border: 2px solid rgb(180,180,180);
    border-radius: 4px;
}

#testi1 {
    margin-left: 250px;
    margin-right: 20px;
    float:left;
    width: 70px;
    height: 70px;
    flex-basis: 30%;
}

#testiTitle {
    margin-top: 10px;
    margin-bottom: 5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(50,50,50);
    font-size: 20px;
}

#quote2 {
    margin-top: 15px;
    padding-bottom: 50px;
    font-family: sans-serif;
    font-style: italic;
    color:rgb(180,180,180);
    font-size: 14px;
}

#shortBorder {
    width: 25%;
    margin:auto;
    margin-bottom: 50px;
    align-self: center;
    justify-content: center;
    border-bottom: 5px solid rgb(200,200,200);
    border-radius: 8px;
    text-align: center;
}

#benefit {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:rgb(50,50,50);
    font-size: 18px;
}

.benefitList {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(180,180,180);
    font-size: 16px;  
    margin-bottom: 15px; 
}

#benefitimg {
    float: left;
    width: 25px;
    height: auto;
    margin-right: 10px;
}

.ourPackage {
    display: flex;
    flex-basis: 100%;
    flex-grow: 0;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(200,200,200);
    color: rgb(50,50,50);
    font-size: 32px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 40px;
    margin-bottom: 50px;
}

.package1 {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: row;
    gap:20px;
    padding-bottom: 400px;
    margin-bottom: 40px;
}

.package1 > .div1 {
    flex-basis: 33%;
    flex-grow: 0;
    gap:30px;
    width: auto;
    flex-direction: column;
    height: 40px;
}

.package1 > .div1 > h2 {
    color:rgb(50,50,50);
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

.package1 > .div1 > #img1 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package1 > .div1 > #img2 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package1 > .div1 > #img3 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package1 > .div1 > p {
    width: 380px;
    color:rgb(180,180,180);
    text-align: justify;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 300px;
}

.package2 {
    display: flex;
    margin-left: 70px;
    margin-right: 70px;
    flex-direction: row;
    gap:20px;
    padding-bottom: 400px;
    margin-bottom: 40px;
}

.package2 > .div2 {
    flex-basis: 33%;
    flex-grow: 0;
    gap:30px;
    width: auto;
    flex-direction: column;
    height: 40px;
}

.package2 > .div2 > h2 {
    color:rgb(50,50,50);
    text-align: center;
    text-decoration: underline;
    padding: 5px;
}

.package2 > .div2 > #img4 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package2 > .div2 > #img5 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package2 > .div2 > #img6 {
    width: 380px;
    height: 270px;
    align-items: center;
}

.package2 > .div2 > p {
    width: 380px;
    color:rgb(180,180,180);
    text-align: justify;
    font-style: italic;
    font-size: 18px;
    padding-bottom: 300px;
}

#shortBorder2 {
    width:15%;
    margin:auto;
    border-bottom: 5px solid rgb(200,200,200);
    border-radius: 8px;
    text-align: center;
    align-content: center;
    margin-bottom: 30px;
}

.closing {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid rgb(220,220,220);
    border-top: 2px solid rgb(220,220,220);
    padding: 70px;
    text-align: center;
    flex-direction: column;
    margin-bottom: 50px;   
}

.closing > h1 {
    text-align: center;
    color:rgb(50,50,50);
    font-size:32px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 120px;
    padding-right: 120px;
}

.closing > p {
    color:rgb(180,180,180);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 50px;   
}

#submit2 {
    background-color: rgb(50,50,50);
    color:white;
    border: 2px solid rgb(50,50,50);
    border-radius: 4px;
    margin-top: 10px;
    padding-top: 10px;
    font-size: 16px;
    width: 278px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 0.1s background-color ease-in;
    cursor: pointer;
    text-decoration: none;   
}

.closing > #submit2:hover {
    background-color: rgb(180,180,180);
    color:rgb(50,50,50);
    border: 2px solid white;
    border-radius: 4px;
}

footer {
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    flex-direction: column;
    margin-bottom: 40px;
    margin-top: 40px;
}

footer > .imgfooter {
    width: 60px;
    height: 60px;
    margin-bottom: 20px;
}

footer > #footer1 {
    flex-grow: 0;
    justify-content: space-between;
    flex-flow: row;
    flex-direction: row;
    color:rgb(180,180,180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

footer > #footer2 {
    flex-grow: 0;
    justify-content: space-between;
    flex-flow: row;
    flex-direction: row;
    color:rgb(180,180,180);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

#word {
    margin-left: 15px;
}    